In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

import glob

In [28]:
path = r"../data/table-52"
files = glob.glob(path + "/*.csv")

In [36]:
read_opts = dict(
    header=13, 
    engine="pyarrow",
    dtype_backend="pyarrow",
    # low_memory=False
)

In [37]:
dfs = [pd.read_csv(f, **read_opts) for f in files]
df = pd.concat(dfs, ignore_index=True)

In [50]:
for a in dfs:
    print(a.shape)

(625614, 8)
(626560, 8)
(628353, 8)
(625570, 8)
(621907, 8)

In [48]:
df

,CAH level marker,CAH level subject,Entrant marker,Level of study,Mode of study,Academic Year,Permanent address marker,Number
0,CAH level 1,01 Medicine and dentistry,Entrant,All,All,2019/20,England,14275
1,CAH level 1,01 Medicine and dentistry,Entrant,All,All,2019/20,Wales,725
2,CAH level 1,01 Medicine and dentistry,Entrant,All,All,2019/20,Scotland,1695
3,CAH level 1,01 Medicine and dentistry,Entrant,All,All,2019/20,Northern Ireland,600
4,CAH level 1,01 Medicine and dentistry,Entrant,All,All,2019/20,Other UK,35
...,...,...,...,...,...,...,...,...
3127999,HECoS,Total,Not an entrant,All undergraduate,Part-time,2023/24,European Union,1175
3128000,HECoS,Total,Not an entrant,All undergraduate,Part-time,2023/24,Non-European Union,3875
3128001,HECoS,Total,Not an entrant,All undergraduate,Part-time,2023/24,Total Non-UK,5050
3128002,HECoS,Total,Not an entrant,All undergraduate,Part-time,2023/24,Not known,535
3128003,HECoS,Total,Not an entrant,All undergraduate,Part-time,2023/24,Total,165665

In [8]:
df.shape

(3128069, 8)

### Grouping by subject of study

In [54]:
by_subject = df[df["CAH level marker"] == "CAH level 3"]
by_subject.head(10)

,CAH level marker,CAH level subject,Entrant marker,Level of study,Mode of study,Academic Year,Permanent address marker,Number
17325,CAH level 3,01-01-01 Medical sciences (non-specific),Entrant,All,All,2019/20,England,1350
17326,CAH level 3,01-01-01 Medical sciences (non-specific),Entrant,All,All,2019/20,Wales,75
17327,CAH level 3,01-01-01 Medical sciences (non-specific),Entrant,All,All,2019/20,Scotland,85
17328,CAH level 3,01-01-01 Medical sciences (non-specific),Entrant,All,All,2019/20,Northern Ireland,95
17329,CAH level 3,01-01-01 Medical sciences (non-specific),Entrant,All,All,2019/20,Other UK,5
17330,CAH level 3,01-01-01 Medical sciences (non-specific),Entrant,All,All,2019/20,Total UK,1610
17331,CAH level 3,01-01-01 Medical sciences (non-specific),Entrant,All,All,2019/20,European Union,135
17332,CAH level 3,01-01-01 Medical sciences (non-specific),Entrant,All,All,2019/20,Non-European Union,475
17333,CAH level 3,01-01-01 Medical sciences (non-specific),Entrant,All,All,2019/20,Total Non-UK,610
17334,CAH level 3,01-01-01 Medical sciences (non-specific),Entrant,All,All,2019/20,Not known,0

#### CAH Level 3 Subjects

In [56]:
by_subject["CAH level subject"].unique().tolist()

['01-01-01 Medical sciences (non-specific)',
 '01-01-02 Medicine (non-specific)',
 '01-01-03 Medicine by specialism',
 '01-01-04 Dentistry',
 '02-02-01 Pharmacology',
 '02-02-02 Toxicology',
 '02-02-03 Pharmacy',
 '02-04-01 Nursing (non-specific)',
 '02-04-02 Adult nursing',
 '02-04-03 Community nursing',
 '02-04-04 Midwifery',
 "02-04-05 Children's nursing",
 '02-04-06 Dental nursing',
 '02-04-07 Mental health nursing',
 '02-04-08 Learning disabilities nursing',
 '02-04-09 Others in nursing',
 '02-05-01 Medical technology',
 '02-05-02 Healthcare science (non-specific)',
 '02-05-03 Biomedical sciences (non-specific)',
 '02-05-04 Anatomy, physiology and pathology',
 '02-06-01 Health sciences (non-specific)',
 '02-06-02 Nutrition and dietetics',
 '02-06-03 Ophthalmics',
 '02-06-04 Environmental and public health',
 '02-06-05 Physiotherapy',
 '02-06-06 Complementary and alternative medicine',
 '02-06-07 Counselling, psychotherapy and occupational therapy',
 '03-01-01 Biosciences (non-specific)',
 '03-01-02 Biology (non-specific)',
 '03-01-03 Ecology and environmental biology',
 '03-01-04 Microbiology and cell science',
 '03-01-05 Plant sciences',
 '03-01-06 Zoology',
 '03-01-07 Genetics',
 '03-01-08 Molecular biology, biophysics and biochemistry',
 '03-01-09 Hair and beauty sciences',
 '03-01-10 Others in biosciences',
 '03-02-01 Sport and exercise sciences',
 '04-01-01 Psychology (non-specific)',
 '04-01-02 Applied psychology',
 '04-01-03 Developmental psychology',
 '04-01-04 Psychology and health',
 '04-01-05 Others in psychology',
 '05-01-01 Veterinary medicine and dentistry',
 '05-01-02 Others in veterinary sciences',
 '06-01-01 Animal science',
 '06-01-02 Agricultural sciences',
 '06-01-03 Agriculture',
 '06-01-04 Rural estate management',
 '06-01-05 Forestry and arboriculture',
 '06-01-06 Food and beverage studies (non-specific)',
 '06-01-07 Food sciences',
 '06-01-08 Food and beverage production',
 '07-01-01 Physics',
 '07-01-02 Astronomy',
 '07-02-01 Chemistry',
 '07-04-01 Physical sciences (non-specific)',
 '07-04-02 Forensic and archaeological sciences',
 '07-04-03 Sciences (non-specific)',
 '07-04-04 Natural sciences (non-specific)',
 '09-01-01 Mathematics',
 '09-01-02 Operational research',
 '09-01-03 Statistics',
 '10-01-01 Engineering (non-specific)',
 '10-01-02 Mechanical engineering',
 '10-01-03 Production and manufacturing engineering',
 '10-01-04 Aeronautical and aerospace engineering',
 '10-01-05 Naval architecture',
 '10-01-06 Bioengineering, medical and biomedical engineering',
 '10-01-07 Civil engineering',
 '10-01-08 Electrical and electronic engineering',
 '10-01-09 Chemical, process and energy engineering',
 '10-01-10 Others in engineering',
 '10-03-01 Minerals technology',
 '10-03-02 Materials technology',
 '10-03-03 Polymers and textiles',
 '10-03-04 Maritime technology',
 '10-03-05 Biotechnology',
 '10-03-06 Others in technology',
 '10-03-07 Materials science',
 '11-01-01 Computer science',
 '11-01-02 Information technology',
 '11-01-03 Information systems',
 '11-01-04 Software engineering',
 '11-01-05 Artificial intelligence',
 '11-01-06 Computer games and animation',
 '11-01-07 Business computing',
 '11-01-08 Others in computing',
 '13-01-01 Architecture',
 '13-01-02 Building',
 '13-01-03 Landscape design',
 '13-01-04 Planning (urban, rural and regional)',
 '26-01-01 Geography (non-specific)',
 '26-01-02 Physical geographical sciences',
 '26-01-04 Environmental sciences',
 '26-01-05 Others in geographical studies',
 '26-01-06 Earth sciences',
 'Total science CAH level 3',
 '15-01-01 Social sciences (non-specific)',
 '15-01-02 Sociology',
 '15-01-03 Social policy',
 '15-01-04 Anthropology',
 '15-01-05 Development studies',
 '15-01-06 Cultural studies',
 '15-02-01 Economics',
 '15-03-01 Politics',
 '15-04-01 Social work',
 '15-04-02 Childhood and youth studies',
 '15-04-03 Health studies',
 '16-01-01 Law',
 '17-01-01 Business and management (non-specific)',
 '17-01-02 Business studies',
 '17-01-03 Marketing',
 '17-01-04 Management studies',
 '17-01-05 Human resource management',
 '17-01-06 Tourism, transport and travel',
 '17-01-07 Finance',
 '17-01-08 Accounting',
 '17-01-09 Others in business and management',
 '19-01-01 English studies (non-specific)',
 '19-01-02 English language',
 '19-01-03 Literature in English',
 '19-01-04 Studies of specific authors',
 '19-01-05 Creative writing',
 '19-01-06 Others in English studies',
 '19-01-07 Linguistics',
 '19-02-01 Celtic studies (non-specific)',
 '19-02-02 Gaelic studies',
 '19-02-03 Welsh studies',
 '19-02-04 Others in Celtic studies',
 '19-04-01 French studies',
 '19-04-02 German and Scandinavian studies',
 '19-04-03 Italian studies',
 '19-04-04 Iberian studies',
 '19-04-05 Slavic studies',
 '19-04-06 Asian studies',
 '19-04-07 African and modern Middle Eastern studies',
 '19-04-08 American and Australasian studies',
 '19-04-09 Others in language and area studies',
 '20-01-01 History',
 '20-01-02 History of art, architecture and design',
 '20-01-03 Archaeology',
 '20-01-04 Heritage studies',
 '20-01-05 Classics',
 '20-02-01 Philosophy',
 '20-02-02 Theology and religious studies',
 '22-01-01 Education',
 '22-01-02 Teacher training',
 '23-01-01 Combined, general or negotiated studies',
 '23-01-02 Personal development',
 '23-01-03 Humanities (non-specific)',
 '23-01-04 Liberal arts (non-specific)',
 '24-01-01 Information services',
 '24-01-02 Publicity studies',
 '24-01-03 Publishing',
 '24-01-04 Journalism',
 '24-01-05 Media studies',
 '25-01-01 Creative arts and design (non-specific)',
 '25-01-02 Art',
 '25-01-03 Design studies',
 '25-01-04 Cinematics and photography',
 '25-01-05 Others in creative arts and design',
 '25-02-01 Performing arts (non-specific)',
 '25-02-02 Music',
 '25-02-03 Drama',
 '25-02-04 Dance',
 '26-01-03 Human geography',
 'Total non-science CAH level 3',
 'Total ']

### Engineering and Technology, Computing, Architecture, building and planning,

In [71]:
keep = df["CAH level subject"].str.startswith(("10","11","13"), na=False)
df_keep = by_subject[keep].copy()
df_keep.shape

C:\Users\faith.SCCNIG\AppData\Local\Temp\ipykernel_205624\2563225692.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_keep = by_subject[keep].copy()

(96756, 8)

In [72]:
df_keep.head(20)

,CAH level marker,CAH level subject,Entrant marker,Level of study,Mode of study,Academic Year,Permanent address marker,Number
58828,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,England,5835
58829,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,Wales,520
58830,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,Scotland,980
58831,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,Northern Ireland,185
58832,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,Other UK,15
58833,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,Total UK,7535
58834,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,European Union,605
58835,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,Non-European Union,3340
58836,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,Total Non-UK,3940
58837,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,Not known,0
58838,CAH level 3,10-01-01 Engineering (non-specific),Entrant,All,All,2019/20,Total,11475
58839,CAH level 3,10-01-01 Engineering (non-specific),Not an entrant,All,All,2019/20,England,8075
58840,CAH level 3,10-01-01 Engineering (non-specific),Not an entrant,All,All,2019/20,Wales,470
58841,CAH level 3,10-01-01 Engineering (non-specific),Not an entrant,All,All,2019/20,Scotland,1290
58842,CAH level 3,10-01-01 Engineering (non-specific),Not an entrant,All,All,2019/20,Northern Ireland,410
58843,CAH level 3,10-01-01 Engineering (non-specific),Not an entrant,All,All,2019/20,Other UK,15
58844,CAH level 3,10-01-01 Engineering (non-specific),Not an entrant,All,All,2019/20,Total UK,10260
58845,CAH level 3,10-01-01 Engineering (non-specific),Not an entrant,All,All,2019/20,European Union,660
58846,CAH level 3,10-01-01 Engineering (non-specific),Not an entrant,All,All,2019/20,Non-European Union,1865
58847,CAH level 3,10-01-01 Engineering (non-specific),Not an entrant,All,All,2019/20,Total Non-UK,2530

In [73]:
mask = (
    df_keep["Entrant marker"].eq("All") &
    df_keep["Level of study"].eq("All") &
    df_keep["Mode of study"].eq("All") &
    df_keep["Permanent address marker"].eq("Total")
)

df_total = df_keep.loc[mask].copy()

In [74]:
df_total

,CAH level marker,CAH level subject,Entrant marker,Level of study,Mode of study,Academic Year,Permanent address marker,Number
58904,CAH level 3,10-01-01 Engineering (non-specific),All,All,All,2019/20,Total,24265
59597,CAH level 3,10-01-02 Mechanical engineering,All,All,All,2019/20,Total,35455
60290,CAH level 3,10-01-03 Production and manufacturing engineering,All,All,All,2019/20,Total,11870
60983,CAH level 3,10-01-04 Aeronautical and aerospace engineering,All,All,All,2019/20,Total,13955
61676,CAH level 3,10-01-05 Naval architecture,All,All,All,2019/20,Total,480
...,...,...,...,...,...,...,...,...
2580764,CAH level 3,11-01-08 Others in computing,All,All,All,2023/24,Total,3745
2581457,CAH level 3,13-01-01 Architecture,All,All,All,2023/24,Total,26855
2582150,CAH level 3,13-01-02 Building,All,All,All,2023/24,Total,31560
2582843,CAH level 3,13-01-03 Landscape design,All,All,All,2023/24,Total,1240
2583437,CAH level 3,"13-01-04 Planning (urban, rural and regional)",All,All,All,2023/24,Total,6685

##### Add subject column without CAH Level 3 code

In [75]:
col = "CAH level subject"

df_total["Subject"] = (
    df_total[col]
    .str.replace(r"^\s*\d{2}-\d{2}-\d{2}\s+", "", regex=True)
    .str.strip()
)

In [76]:
df_total["Subject"].unique().tolist()

['Engineering (non-specific)',
 'Mechanical engineering',
 'Production and manufacturing engineering',
 'Aeronautical and aerospace engineering',
 'Naval architecture',
 'Bioengineering, medical and biomedical engineering',
 'Civil engineering',
 'Electrical and electronic engineering',
 'Chemical, process and energy engineering',
 'Others in engineering',
 'Minerals technology',
 'Materials technology',
 'Polymers and textiles',
 'Maritime technology',
 'Biotechnology',
 'Others in technology',
 'Materials science',
 'Computer science',
 'Information technology',
 'Information systems',
 'Software engineering',
 'Artificial intelligence',
 'Computer games and animation',
 'Business computing',
 'Others in computing',
 'Architecture',
 'Building',
 'Landscape design',
 'Planning (urban, rural and regional)']

In [80]:
df_total.sample(20)

,CAH level marker,CAH level subject,Entrant marker,Level of study,Mode of study,Academic Year,Permanent address marker,Number,Subject
2574747,CAH level 3,10-03-06 Others in technology,All,All,All,2023/24,Total,6515,Others in technology
62259,CAH level 3,"10-01-06 Bioengineering, medical and biomedica...",All,All,All,2019/20,Total,5840,"Bioengineering, medical and biomedical enginee..."
700369,CAH level 3,11-01-08 Others in computing,All,All,All,2020/21,Total,3485,Others in computing
694990,CAH level 3,10-03-07 Materials science,All,All,All,2020/21,Total,1940,Materials science
685750,CAH level 3,10-01-03 Production and manufacturing engineering,All,All,All,2020/21,Total,13025,Production and manufacturing engineering
2575440,CAH level 3,10-03-07 Materials science,All,All,All,2023/24,Total,1790,Materials science
690491,CAH level 3,10-01-10 Others in engineering,All,All,All,2020/21,Total,1010,Others in engineering
1954567,CAH level 3,11-01-07 Business computing,All,All,All,2022/23,Total,4595,Business computing
2583437,CAH level 3,"13-01-04 Planning (urban, rural and regional)",All,All,All,2023/24,Total,6685,"Planning (urban, rural and regional)"
1955249,CAH level 3,11-01-08 Others in computing,All,All,All,2022/23,Total,4120,Others in computing
693714,CAH level 3,10-03-05 Biotechnology,All,All,All,2020/21,Total,1300,Biotechnology
1957328,CAH level 3,13-01-03 Landscape design,All,All,All,2022/23,Total,1350,Landscape design
2579411,CAH level 3,11-01-06 Computer games and animation,All,All,All,2023/24,Total,17190,Computer games and animation
1941422,CAH level 3,10-01-04 Aeronautical and aerospace engineering,All,All,All,2022/23,Total,15310,Aeronautical and aerospace engineering
2580104,CAH level 3,11-01-07 Business computing,All,All,All,2023/24,Total,4345,Business computing
59597,CAH level 3,10-01-02 Mechanical engineering,All,All,All,2019/20,Total,35455,Mechanical engineering
2573438,CAH level 3,10-03-04 Maritime technology,All,All,All,2023/24,Total,1330,Maritime technology
66274,CAH level 3,10-03-02 Materials technology,All,All,All,2019/20,Total,2645,Materials technology
2582150,CAH level 3,13-01-02 Building,All,All,All,2023/24,Total,31560,Building
2572151,CAH level 3,10-03-02 Materials technology,All,All,All,2023/24,Total,2530,Materials technology

### Plots